#calendar-wrap{
	width:100%;
	height:100%;
	position:absolute;
	background:#fff;
	left:0;
	top:0;
	overflow: hidden;
	z-index:1000;
	.calendar_header{
		position:relative;
		font-size:18px;
		height:44px;
		border-bottom:1px solid #ccc;
		display:flex;
		h2{
			width:100%;
			text-align:center;
		}
		.finish{
			position:absolute;
			right:10px;
			color:$dimcolor;
		}
	}
	.checkInTime{
		height:40px;
		padding-top:18px;
		font-size:16px;
		padding-left:15px;
		border-bottom:1px solid #ccc;
	}
	.calendar_title{
		height:45px;
		display:flex;
		align-items:center;
		border-bottom:1px solid #ccc;
		h3{
			flex:3;
			text-align:center;
			font-size:16px;
			color:#333;
		}
		span{
			color:$dimcolor;
		}
	}
	.calendar_con{
		width:100%;
		.calendar_week{
			height:35px;
			display:flex;
			align-items:center;
			border-bottom:3px solid $dimcolor;
			span{
				flex:1;
				text-align:center;
				font-size:16px;
			}
		}
		.calendar_month{
			overflow:hidden;
			border:1px solid #ccc;
			border-left:none;
			width:100%;
			margin-bottom:15px;
			span{
				float:left;
				width: 14.28%;
				line-height:50px;
				text-align:center;
				border:1px solid #eee;
			}
			.high{
				background:$dimcolor;
				color:#fff;
			}
			.togray{
				color:#999;
			}
			.over{
				color:#999;
			}
		}
	}
	.bottom{
		width:100%;
		height:55px;
		line-height:55px;
		display:flex;
		justify-content:center;
		border-bottom:1px solid #ccc;
		span{
			display:block;
			flex:1;
			font-size:16px;
			&:nth-child(1){
				text-align:left;
				margin-left:20px;
			}
			&:nth-child(2){
				text-align:right;
				margin-right:20px;
				color:#ccc;
			}

		}
	}
	.checkInDays{
		width:100%;
		height:55px;
		line-height:55px;
		display:-webkit-flex;
		span{	
			font-size:16px;
			&:nth-child(1){
				text-align:left;
				margin-left:20px;
				flex:8;
			}
			&:nth-child(2){
				text-align:right;
				margin-right:20px;
				flex:3;
				input{
					width:29px;
					height:29px;
					float:left;
					margin-top:14px;
					border-color:$dimcolor;
					outerline:none;
					text-align:center;
				}
				em{
					margin-top:14px;
					float:left;
					height:29px;
					width:29px;
					text-align:center;
					line-height:29px;
					background:$dimcolor;
					font-style:normal;
					color:#fff;
				}
			}
		}
	}
}

